@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: var(--background);
    --foreground: var(--foreground);
    --card: var(--card);
    --card-foreground: var(--card-foreground);
    --popover: var(--popover);
    --popover-foreground: var(--popover-foreground);
    --primary: var(--primary);
    --primary-foreground: var(--primary-foreground);
    --secondary: var(--secondary);
    --secondary-foreground: var(--secondary-foreground);
    --muted: var(--muted);
    --muted-foreground: var(--muted-foreground);
    --accent: var(--accent);
    --accent-foreground: var(--accent-foreground);
    --destructive: var(--destructive);
    --destructive-foreground: var(--destructive-foreground);
    --border: var(--border);
    --input: var(--input);
    --ring: var(--ring);
    --chart-1: var(--chart-1);
    --chart-2: var(--chart-2);
    --chart-3: var(--chart-3);
    --chart-4: var(--chart-4);
    --chart-5: var(--chart-5);
    --sidebar: var(--sidebar);
    --sidebar-foreground: var(--sidebar-foreground);
    --sidebar-primary: var(--sidebar-primary);
    --sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --sidebar-accent: var(--sidebar-accent);
    --sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --sidebar-border: var(--sidebar-border);
    --sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);
    --radius: var(--radius);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }

  .dark {
    --background: var(--background);
    --foreground: var(--foreground);
    --card: var(--card);
    --card-foreground: var(--card-foreground);
    --popover: var(--popover);
    --popover-foreground: var(--popover-foreground);
    --primary: var(--primary);
    --primary-foreground: var(--primary-foreground);
    --secondary: var(--secondary);
    --secondary-foreground: var(--secondary-foreground);
    --muted: var(--muted);
    --muted-foreground: var(--muted-foreground);
    --accent: var(--accent);
    --accent-foreground: var(--accent-foreground);
    --destructive: var(--destructive);
    --destructive-foreground: var(--destructive-foreground);
    --border: var(--border);
    --input: var(--input);
    --ring: var(--ring);
    --chart-1: var(--chart-1);
    --chart-2: var(--chart-2);
    --chart-3: var(--chart-3);
    --chart-4: var(--chart-4);
    --chart-5: var(--chart-5);
    --sidebar: var(--sidebar);
    --sidebar-foreground: var(--sidebar-foreground);
    --sidebar-primary: var(--sidebar-primary);
    --sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --sidebar-accent: var(--sidebar-accent);
    --sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --sidebar-border: var(--sidebar-border);
    --sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);
    --radius: var(--radius);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
